<?xml version="1.0" encoding="UTF-8" ?>
<launch>
        <!-- overwriting these args -->
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="true" />

        <!-- Reference to AWS RoboMaker Hospital World -->
        <arg name="world" default="$(find aws_robomaker_hospital_world)/worlds/hospital.world" />

        <!-- include gazebo_ros launcher -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(arg world)" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gui)" />
                <arg name="paused" value="$(arg pause)" />
                <arg name="use_sim_time" value="true" />
        </include>

        <!-- include URDF model -->
        <param name="robot_description" command="$(find xacro)/xacro '$(find sim_sentry)/urdf/sentry.xacro'" />

        <arg name="x" default="0"/>
        <arg name="y" default="1"/>
        <arg name="z" default="0.5"/>
        
        <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
                args="-urdf -param robot_description -model sentry -x $(arg x) -y $(arg y) -z $(arg z)" />

        <!-- Dif Drive Controller -->
        <!--<rosparam file="$(find sim_sentry)/config/dif_drive.yaml" command="load" />

        <node name="control_manager" pkg="controller_manager" type="spawner"
            respawn="false" output="screen" args="mobile_base_controller" />-->
            
</launch>